* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
body {
  background-color: #e30512;
  overflow-x: hidden;
  transition: 0.4s ease-in-out;
}
body::-webkit-scrollbar {
  display: none;
}
a {
  margin-bottom: 1vmin;
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
#logo {
  position: fixed;
  left: 3vmin;
  top: 2vmin;
}
#info {
  position: fixed;
  right: 3vmin;
  top: 2vmin;
}
#copy {
  position: fixed;
  bottom: 10vmin;
  left: 3vmin;
  width: 35vmin;
}
#issues-anchor {
  position: fixed;
  bottom: 2vmin;
  right: 2vmin;
  display: flex;
  flex-direction: column;
  font-size: larger;
}
#container {
  -webkit-overflow-scrolling: touch;
}
.issues {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}
.issues img {
  width: 420px;
}
.intern-text {
  margin-top: 15px;
}
.issue:hover {
  color: white;
}
/* #issue1{
    background-color: #e30512;
}
#issue2{
    background-color: #1d3fbb;
}
#issue3{
    background-color: #ffbe00;
}
#issue4{
    background-color: #ff651a;
}
#issue5{
    background-color: #00c1b5;
}
#issue6{
    background-color: #ffffff;
} */
